<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">

            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>

        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://images.rbxcdn.com/e942d5c326e104bddf1d2c8ce3e0e9a7.png" alt="thumbnail" class="game-thumbnail" />
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://images.rbxcdn.com/6c27cb9db1779888868bf7d87e6d3709.jpg" alt="slug" />
            </div>
        </div>
    </div>
</div>